<ion-content fullscreen="true">
    <ion-grid>
        <div>
            <ion-row>
                <ion-col class="info">
                    <ion-card button (click)="restartGame()" class="button topButtons">
                        <ion-icon name="restart"></ion-icon>
                    </ion-card>
                </ion-col>
                <ion-col class="info">
                    <ion-card button (click)="rollDice()" class="button topButtons">
                        <ion-icon name="dice"></ion-icon>
                    </ion-card>
                </ion-col>
                <ion-col class="info">
                    <ion-card button (click)="coinFlip()" class="button topButtons">
                        <ion-icon name="coin"></ion-icon>
                    </ion-card>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="settings.playerAmount == 1">
                <ion-col>
                    <div class="divCenterContent">
                        <ion-card button (click)="openCalculatorUpsideDown(players[0])" class="card2player-2">
                            <h4 class="nameText">{{players[0].name}}</h4>
                            <h4 class="info">{{players[0].lifePoints}}</h4>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="!settings.teamsEnabled">
                <ion-col *ngIf="settings.playerAmount > 1">
                    <div class="divCenterContent">
                        <ion-card button (click)="openCalculatorUpsideDown(players[1])" class="card2player-2">
                            <h4 class="nameText">{{players[1].name}}</h4>
                            <h4 class="info">{{players[1].lifePoints}}</h4>
                        </ion-card>
                    </div>
                </ion-col>
                <ion-col *ngIf="settings.playerAmount > 3">
                    <div class="divCenterContent">
                        <ion-card button (click)="openCalculatorUpsideDown(players[3])" class="card2player-2">
                            <h4 class="nameText">{{players[3].name}}</h4>
                            <h4 class="info">{{players[3].lifePoints}}</h4>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="settings.teamsEnabled && settings.playerAmount == 4">
                <ion-col>
                    <div class="divCenterContent">
                        <ion-card button (click)="openCalculatorUpsideDown(players[2])" class="card2player-2 team2">
                            <h4 class="nameText">{{players[2].name}}</h4>
                            <h4 class="info">{{players[2].lifePoints}}</h4>
                        </ion-card>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="divCenterContent">
                        <ion-card button (click)="openCalculatorUpsideDown(players[3])" class="card2player-2 team2">
                            <h4 class="nameText">{{players[3].name}}</h4>
                            <h4 class="info">{{players[3].lifePoints}}</h4>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="settings.teamsEnabled && settings.playerAmount == 4">
                <ion-col class="centerText ">
                    <h3 class="topButtons teamText">Team 2</h3>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="settings.timeLimitEnabled">
                <countdown #timer id="timer" class="timer" (event)="alert($event)"
                           [config]="{leftTime: seconds}"></countdown>
            </ion-row>

            <ion-row *ngIf="!settings.timeLimitEnabled">
                <ion-col></ion-col>
                <ion-col [hidden]="!foundRandomCard">
                    <ion-img src="{{randomCardUrl}}"></ion-img>
                </ion-col>
                <ion-col [hidden]="foundRandomCard" class="centerText">
                    <ion-spinner color="primary" name="bubbles"></ion-spinner>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>

            <ion-row *ngIf="!settings.teamsEnabled">
                <ion-col>
                    <div class="divCenterContent">
                        <ion-card button (click)="openCalculator(players[0])" class="card2player-1">
                            <h4 class="nameText">{{players[0].name}}</h4>
                            <h4 class="info">{{players[0].lifePoints}}</h4>
                        </ion-card>
                    </div>
                </ion-col>
                <ion-col *ngIf="settings.playerAmount > 2">
                    <div class="divCenterContent">
                        <ion-card button (click)="openCalculator(players[2])" class="card2player-1">
                            <h4 class="nameText">{{players[2].name}}</h4>
                            <h4 class="info">{{players[2].lifePoints}}</h4>
                        </ion-card>
                    </div>
                </ion-col>
            </ion-row>

            <span *ngIf="settings.teamsEnabled && settings.playerAmount == 4">
                <ion-row>
                    <ion-col class="centerText">
                        <h3 class="teamText">Team 1</h3>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <div class="divCenterContent">
                            <ion-card button (click)="openCalculator(players[0])" class="card2player-1 team1">
                                <h4 class="nameText">{{players[0].name}}</h4>
                                <h4 class="info">{{players[0].lifePoints}}</h4>
                            </ion-card>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="divCenterContent">
                            <ion-card button (click)="openCalculator(players[1])" class="card2player-1 team1">
                                <h4 class="nameText">{{players[1].name}}</h4>
                                <h4 class="info">{{players[1].lifePoints}}</h4>
                            </ion-card>
                        </div>
                    </ion-col>
                </ion-row>
            </span>

            <ion-row>
                <ion-col class="info">
                    <ion-card button (click)="coinFlip()" class="button bottomButtons">
                        <ion-icon name="coin"></ion-icon>
                    </ion-card>
                </ion-col>
                <ion-col class="info">
                    <ion-card button (click)="rollDice()" class="button bottomButtons">
                        <ion-icon name="dice"></ion-icon>
                    </ion-card>
                </ion-col>
                <ion-col class="info">
                    <ion-card button (click)="restartGame()" class="button bottomButtons">
                        <ion-icon name="restart"></ion-icon>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
