.key {
  text-align: center;
  border-radius: 25px;
}

.backspace {
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.screen {
  border-radius: 25px;
}

.enterButton {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

