ion-content ion-toolbar {
  --background: translucent;
}

.vsText {
  width: 100%;
  font-size: 30px;
  vertical-align: center;
}

.nameText {
  text-align: center;
  margin-top: 20px;
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: center;
}

.centerText {
  text-align: center;
}

.infoAndButton {
  text-align: center;
  position: relative;
  bottom: 0;
}
