ion-content ion-toolbar {
  --background: translucent;
}

.vsText {
  width: 100%;
  font-size: 30px;
  vertical-align: center;
}

.infoAndButton {
  text-align: center;
  position: relative;
  bottom: 0;
}

.nameCard {
  width: 100px;
  text-align: center;
  border-radius: 50px;
}
