<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Settings</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-item>
        <ion-label>Players</ion-label>
        <ion-select (ionChange)="setPlayers($event)" [value]="playerAmount" placeholder="Select Players">
            <ion-select-option [value]="player.amount"
                               *ngFor="let player of playerOptions">{{player.player}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Time Limit enabled</ion-label>
        <ion-toggle [checked]="timeLimitEnabled" (ionChange)="enableTimeLimit($event)"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="playerAmount == 4">
        <ion-label>Teams enabled</ion-label>
        <ion-toggle [checked]="teamsEnabled" (ionChange)="enableTeams($event)"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Life Points per Duelist</ion-label>
        <ion-input (ionBlur)="setLifePoints($event)" min="1" type="number" [value]="lifePoints"
                   inputmode="numeric"></ion-input>
    </ion-item>

    <ion-item *ngIf="timeLimitEnabled">
        <ion-label position="floating">Time Limit in Minutes</ion-label>
        <ion-input (ionBlur)="setTimeLimit($event)" min="5" type="number" [value]="timeLimit" inputmode="numeric"
                   placeholder="Amount in minutes (min 5)"></ion-input>
    </ion-item>


    <ion-list style="margin: 0; padding: 0;">
        <ion-reorder-group (ionItemReorder)="sortTeam($event)">
            <div *ngFor="let name of names">
                <ion-item *ngIf="name.playerId <= playerAmount">
                    <ion-reorder style="margin-top: 10px" slot="start" [hidden]="!(teamsEnabled && playerAmount == 4)"></ion-reorder>
                    <ion-label [hidden]="(teamsEnabled && playerAmount == 4)" position="floating">Duelist {{name.playerId}} name</ion-label>
                    <ion-label [hidden]="!(teamsEnabled && playerAmount == 4)" position="floating">Team {{name.team}}</ion-label>
                    <ion-input (ionBlur)="setName($event, name.playerId)" type="text" [value]="name.name"
                               placeholder="Name">
                    </ion-input>
                    <ion-icon [hidden]="(teamsEnabled && playerAmount == 4)" slot="end" style="margin-top: 15px; font-size: 25px" name="player-{{name.playerId}}"></ion-icon>
                </ion-item>
            </div>
        </ion-reorder-group>
    </ion-list>

</ion-content>
